<section class="p-4 my-5 w-[90%] flex justify-center items-center">
  <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-x-4 items-center">
    <div class="product-slider">
    
    
      <section>
        <div class="container w-[90%] mx-auto">

      
        
              <img [src]="productdetail.image" [alt]="productdetail.title" class="h-[400px] object-contain m-auto" />

        </div>
      </section>
    
    
    </div>

    <div class="">
      <h1>{{ productdetail.title }}</h1>
      <p>{{ productdetail.description }}</p>

      <h3>{{ productdetail.category}}</h3>
      
    <div class="flex mt-4 flex-wrap justify-between items-center">
        <h3>{{ productdetail.price }}</h3>
        <span
          ><i class="rating-color fa-color fa-solid fa-star text-yellow-500"></i
          >{{ productdetail.rating.rate}}</span
        >
      </div>
      <div>
        <button
          type="button"
          class="but mt-3 text-white bg-blue-500 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-500 dark:hover:bg-blue-800 dark:focus:ring-green-800"
        >
          Add To Cart
        </button>
      </div>
    </div>

  </div>
</section>
