



<section class="bg-gray-300 rounded flex justify-center items-center flex-col">

 <div class="max-w-md mx-auto mt-5">
    <div
      class="relative flex items-center w-full h-12 rounded-lg focus-within:shadow-lg bg-white overflow-hidden"
    >
      <div class="grid place-items-center h-full w-12 text-gray-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>
      </div>




      <div class="peer h-full w-full outline-none text-sm text-gray-700 border-4 focus:border-4 focus:border-[#3b82f6]] pr-2">

      <input
        [(ngModel)]="searchvalue"
        class=""
        type="text"
        id="search"
        placeholder="Search something.."
      />

      <select [(ngModel)]="sortorder" class="border-0 border-white">
  <option value="asc">Low to High</option>
  <option value="desc">High to Low</option>
</select>

      </div>

    </div>
  </div>




  <div class="container my-6">
    <div class="grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
      @for (product of productsdata| search:searchvalue | sortByPrice:sortorder ; track product.id) {

      <div class="product p-4 cursor-pointer" [routerLink]="['/productdetail',product.id]">
        <div class="m-auto flex justify-center">
          <img class="w-auto h-48 object-fill" [src]="product.image" alt="" />
        </div>
        <div>
          <h2 class="text-[#3b82f6] font-bold">
            {{ product.category }}
          </h2>
          <h1>{{ product.title.slice(0, 40) }}</h1>
        </div>
        <div>
          <h3>{{ product.price }} £</h3>
          <span>{{ product.rating.rate }}  <i class="rating-color fa-color fa-solid fa-star dark:text-yellow-500"></i>  </span>
        </div>


                <div>
          <button
           
            type="button"
            class="but w-[100%] mt-3 text-white bg-[#3b82f6] hover:bg-[#34445f] font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-[#3b82f6] dark:hover:bg-[#34445f]  dark:focus:ring-[#3b82f6]"
          >
            Add To Cart
          </button>
        </div>
      </div>

      }
    </div>
  </div>
</section>
